<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/icon" href="../images/logo.ico">
<link rel="stylesheet" 
href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" 
crossorigin="anonymous">
<link rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Work+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>
            Avin_Kamboj
        </title>    
</head>
    
    <body>
          <header>
              <div class="container navigationbar" >
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <a class="navbar-brand" href="#home">
                                    <i class="fab fa-autoprefixer fa-2x"></i>
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                          
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav ml-lg-auto">
                                <li class="nav-item">
                                  <a class="nav-link" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#about">About</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="#resume">Resume</a>
                                      </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#skills">Skills</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="#contact">Contact</a>
                                </li>
                              </ul>
                            </div>
                          </nav>
              </div>
          </header>
        <div class="welcome" id="home">
            
            <h1>avin kamboj</h1>
            <h2 class="desi">Developer</h2>
            <h2 class="and">&</h2>
            <h2 class="deve">Designer</h2>
            <a href="#about">
                <button class="button">Explore More</button>
                </a>
        </div>
        <div class="about container-fluid" id="about">    
            <div class="container" id="headabout">
            <!-- <hr id="toph"> -->
            <h1>About Me</h1>
            <hr id="both">
            </div>
            <div class="container-fluid">
            <div class="grid">
                <div class="boximage box">
                <img src="../images/image1.jpg" alt="image" class="imageintro">
                </div>
                <div class="boxabout box">
                <p>Hey there I am <strong>Avin Kamboj</strong><br> I am a  Developer and Designer<br>
                    currently doing B.E in Computer Science from<br>
                     <a href="http://www.thapar.edu" id="thapar" target="_blank">
                    Thapar Institute of Engineering and Technology</a><br>
                     Patiala Punjab India.<br>
                        I am a movie enthusiast.<br>
                        I listen to music to rejuvenate my self.<br>
                        SuperCars gives in Adrenaline Pump :)<br>
                        I am a cricket enthusiast too.<br>
                       <br>
                       <div class="love">Live Love Laugh<br>
                        That's All I do</div>
                       
                    </p></div>
            </div>
        </div>
        </div>
        <div class="resume container-fluid col-md-12" id="resume">
            <p class="empty3"></p>
            <!-- <hr id="toph"> -->
            <h1>Resume</h1>
            <hr id="both">
            <div class="college grow col-xs-6 col-sm-6 col-md-3">
                    <div class="head"><h2>2016-2020</h2></div> 
                    <p>
                        Done B.E in CSE <br>Thapar Institute of Engineering and Technology<br>
                        Patiala 147001, Punjab India
                    </p>
            </div>
            <div class="pine12 grow col-xs-6 col-sm-6 col-md-3">
                    <div class="head"><h2>2013-2015</h2></div> 
                    <p>85.8% in Senior Secondary,<br>
                        Attended 11th-12th<br>
                        PineWood School Affiliated to CBSE<br>
                        Vil.Chunheti Delhi Road Saharanpur 247001
                    </p>
            </div>
            <div class="pine10 grow col-xs-6 col-sm-6 col-md-3">
                    <div class="head"><h2>2010-2013</h2></div>
                    <p>8.8 CGPA in Higher Secondary,<br>
                        Attended 8th-10th<br>
                    PineWood School Affiliated to CBSE<br>
                    Vil.Chunheti Delhi Road Saharanpur 247001
                </p>
            </div>
            <div class="st grow col-xs-6 col-sm-6 col-md-3" >
                    <div class="head"><h2>2001-2010</h2></div> 
                    <p>Attended 1st-7th class at<br>
                        St.Thomas Academy Affiliated to CBSE.<br>    
                    Behat Road Saharanpur Uttar Pradesh India</p>
            </div>
        </div>
        <div class="skills col-md-12" id="skills">
            <!-- <hr id="toph"> -->
            <h1>skills</h1>
            <hr id="both">
            <div class="container-fluid rows">
                    <div class="row">
                      <div class="col">
                          <div id="icons">
                            <i class="fab fa-python"></i>
                        </div>
                        <div class="skillname">Python</div>
                        </div>
                      <div class="col">
                        <div id="icons">
                            <i class="fab fa-java"></i>
                        </div>
                        <div class="skillname">Java</div>
                      </div>
                      <div class="col">
                            <div id="icons">
                                <i class="fab fa-js-square"></i>
                            </div>
                            <div class="skillname">Java Script</div>
                      </div>
                      <div class="col">
                            <div id="icons">
                                    <i class="fas fa-database"></i>
                                </div>
                                <div class="skillname">SQL</div>
                          </div>
                    </div>
                  </div>
                  <div class="container-fluid rows">
                        <div class="row">
                          <div class="col">
                                <div id="icons">
                                    <i class="fas fa-brain"></i>
                                </div>
                                <div class="skillname">Machine Learning</div>
                          </div>
                          <div class="col">
                                <div id="icons">
                                        <i class="fab fa-html5"></i>
                                    </div>
                                    <div class="skillname">HTML</div>
                          </div>
                          <div class="col">
                                <div id="icons">
                                    <i class="fab fa-css3-alt"></i>
                                </div>
                                <div class="skillname">CSS</div>
                          </div>
                          <div class="col">
                                <div id="icons">
                                        <i class="fab fa-node"></i>
                                    </div>
                                    <div class="skillname">Node-JS</div>
                              </div>
                        </div>
                      </div>
                      <div class="container-fluid rows">
                          <div class="row">
                                <div class="col">
                                    <div id="icons">
                                        <i class="fas fa-align-justify"></i>
                                    </div>
                                    <div class="skillname">Data Structure</div>
                                  </div>
                                <div class="col">
                                    <div id="icons">
                                        <i class="fab fa-android"></i>
                                    </div>
                                    <div class="skillname">Android</div>
                                </div>
                                <div class="col">
                                    <div id="icons">
                                        <i class="fas fa-microchip"></i>
                                    </div>
                                    <div class="skillname">Arduino</div>
                                </div>
                                <div class="col">
                                    <div id="icons">
                                        <i class="fab fa-microsoft"></i>
                                    </div>
                                    <div class="skillname">MS-Office</div>
                                  </div>
                          </div>
                      </div>

        </div>
        <div class="contact container-fluid col-md-12" id="contact">
            <p class="empty3"></p>
            <!-- <hr id="toph"> -->
            <h1>Contact</h1>
            <hr id="both">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <a href="https://www.instagram.com/avin_kamboj/" target="_blank">
                         <img class="social" src="../images/instaback.png" alt="image">   
                        </a>
                    </div>
                    <div class="col">
                            <a href="https://www.facebook.com/avin.kamboj" target="_blank">
                             <img class="social" src="../images/face.png" alt="image">   
                            </a>
                        </div>
                        <div class="col">
                                <a href="https://www.linkedin.com/in/avin-kumar-99925012a/" target="_blank">
                                 <img class="social" src="../images/linkedin.png" alt="image">   
                                </a>
                            </div>
                </div>
            </div>
        </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>