*{
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent;
    }
body,html{
    
    max-width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    scroll-behavior: smooth;
    background: #aa4b6b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navigationbar{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
header{
    position: fixed;
    z-index: 1;
    width: 100% !important;
}
.navbar{
    padding:0.3rem;
    border-radius: 0.2rem;
}

.navbar-brand{
    font-weight: 400;
    font-size: 1.25rem;
    color: #262626;
}
.navbar li:hover{
    text-decoration: underline;
    color: green;  
}
.navbar a:active{
    color: rgb(65, 195, 255);
}

header li{
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
}
.welcome{
    background-image: url("../images/image2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    -webkit-text-stroke: black 0.05vw;
    font-weight: bold;
}
.about{
    height: 100%;
   
    text-align: center;
}
.resume{
    height: 100%;
    text-align: center;
    background-image: url("../images/books2.jpg");
    width: 100%;
    left: 0;
    object-fit: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.skills{
    height: 100%;
    text-align: center;
}
.contact{
    height: 100%;
    background-image: url("../images/contact.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.button{
    border-radius: 2vw;
    bottom: 2vw;
    background-color: transparent;
    border: 0.2vw solid #808080;
    color: white;
    padding: 1vw 2vw; 
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2vw;
    cursor: pointer;
    position: absolute;
    left: 45%;
}
.button:hover{
    background-color: blueviolet;
}
.welcome h1{
    text-transform: uppercase;
    color: #F7F9F9;
    position: absolute;
    top: 45%;
    left: 51%; 
    margin-top: 0.5vw;
    font-size: 3.5vw;
    letter-spacing: 0.3vw;
    font-family: 'Rubik', sans-serif;
}
.welcome .desi{
    text-transform: uppercase;
    color: #ECF0F1  ;
    position: absolute;
    top: 53%;
    left: 51%;
    margin: 0.2vw 0; 
    padding: 0.3vw 0;
    font-family: 'Crimson Text', serif;
    font-size: 2.5vw;
    box-sizing: border-box;
    letter-spacing: 0.3vw;
}
.welcome .and{
    text-transform: uppercase;
    color: #ECF0F1  ;
    position: absolute;
    top: 57%;
    left: 51%;
    margin: 0.2vw 0; 
    padding: 0.3vw 0;
    font-size: 2.5vw;
    box-sizing: border-box;
    letter-spacing: 0.3vw;
    font-family: 'Crimson Text', serif;
}
.welcome .deve{
    text-transform: uppercase;
    color: #ECF0F1  ;
    position: absolute;
    top: 61%;
    left: 51%;
    margin: 0.2vw 0; 
    padding: 0.8vw 0;
    font-size: 2.5vw;
    letter-spacing: 0.3vw;
    font-family: 'Crimson Text', serif;
}
.about h1{
    text-transform: uppercase;
    color:white;
    padding-top: 5vw;
    font-size: 1.6vw;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.1vw;
}
#toph{ 
    position: relative;
    display: block;
    top: 5.7vw;
    color: white;
    margin-left: 44%;
    margin-right:48%;
    overflow: hidden;
    border-style: solid;
    border-width: 0.1vw;
}
#both{ 
    display: block;
    margin-top: 0.7vw;
    margin-left: 48%;
    margin-right:44%;
    overflow: hidden;
    color: white;
    border-style: solid;
    border-width: 0.1vw;
}
.grid{
    grid-template-columns: 40% 60%;
    width: 100%;
    height: 15vw;
    display: grid;
    margin-top: 5vw;
}
.boximage{
    margin-left: 0px;
}
.boximage img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 2vw;
    object-fit: fill;
}
.boxabout{
    margin-left: 30%;
    margin-right: 10%;
    
}
.boxabout p{
    font-family: 'Rubik', sans-serif;
    font-size: 1.5vw;
    color: #F7F9F9;
    word-spacing: 0.3vw;
    letter-spacing: 0.1vw;
    text-align: center;
    margin-top: 0.2rem;
    margin-bottom: 0;
}
.boxabout a{
    color: black;
    text-decoration: underline;
}
.resume h1{
    text-transform: uppercase;
    color:white;
    padding-top: 5vw;
    font-size: 1.6vw;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.1vw;
}
.skills h1{
    text-transform: uppercase;
    color:white;
    padding-top: 5vw;
    font-size: 1.6vw;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.1vw;
}
.contact h1{
    text-transform: uppercase;
    color:white;
    padding-top: 5vw;
    font-size: 1.6vw;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.1vw;
}

#list{
    float: left;
}

.grow {
    padding-top: 0.7vw;
    border-radius: 3vw;
    height:3.5vw;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Rubik', sans-serif;
    
    width: 22%;
    margin: 5vw 1%;
    float: left;
    position: relative;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    text-align: center;
    overflow: hidden;
  }
 .head h2{
    font-family: 'Rubik', sans-serif;
    font-size: 1.6vw;
  }
  .grow:hover {
    height: 15vw;
  }
.love{
    font-family: 'Dancing Script', cursive;
    font-size: 2vw;
    font-weight: 400;
    background: -webkit-linear-gradient(#FF416C, #FF4B2B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skillname{
    font-size: 1.5vw;
    font-family: 'Roboto Mono', monospace;
}
#icons i{
    font-size: 5vw;
}
.social{
    width: 10vw;
    height:10vw;
}
.rows{
    height: 22%;
}
  
  @media screen and (max-width: 320px) {
    /* comes into effect for screens less than or equal to 320 pixels */
    #home {
     height: 50%;
      }
    #about {
        height: 50%;
        }
    #skills {
        height: 50%;
    }
    #contact {
        height: 50%;
    }
    #resume {
        height: 50%;
    }
    #heading{
        font-size: 10px;
    }
    #icons i{
        font-size: 12vw;
    }
    .head h2{
        font-size: 2.4vw;
    }
    
      header li{
        font-size: 4vw;
        font-family: 'Roboto', sans-serif;
    }
    .navigationbar{
        max-height: 10px
    }
    .grow p{
        font-size: 2.5vw;
    }
    .grow:hover {
        height: 55vw;
      }
  }
  @media screen and (min-width: 321px) and (max-width: 480px) {
    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    #home {
        height: 50%;
         }
       #about {
           height: 50%;
           display: inline-block;
           }
       #skills {
           height: 50%;
       }
       #contact {
           height: 50%;
       }
       #resume {
        height: 50%;
    }
    #icons i{
        font-size: 12vw;
    }
      header li{
        font-size: 4vw;
        font-family: 'Roboto', sans-serif;
    }
    .navigationbar{
        max-height: 10px
    }
    .head h2{
        font-size: 2.4vw;
    }
    .grow p{
        font-size: 2.5vw;
    }
    .grow:hover{
        height: 55vw;
    }
  }
 
@media (max-width: 576px) { 

 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 

 }
